<h5>Dashboard</h5>
<h4>Welcome, {{name}}</h4>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <canvas id="chartTime"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <canvas id="chartClicks"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>