<h3><i class="fas fa-chart-line"></i> WakaPulse</h3>
<div class="section">
    <p class="lead">
        Track your coding time and mouse and keyboard statistics
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/wakatime" class="btn red darken-1 auth">
        <i class="fas fa-stopwatch left"></i>Log In With Wakatime
    </a>
</div>