<h3>Add Goal</h3>
<div id="add-goal-form" class="rounded bg-blue shadow p-3 mb-5">
        <form action="/goals" method="POST" >
            <div class="form-group">
                <label for="inputAddress">What goal you want to Create?</label>
                <input type="text" class="form-control" id="inputTitle" name="goal" placeholder="Enter the name" required>
            </div>
            <div class="form-group">
                <label for="inputAddress2">What do you want to Achieve?</label>
                <input type="text" class="form-control" id="inputAddress2" name="description" placeholder="Enter your goal" required>
            </div>

            <div class="form-group">
                <label for="inputEnd">Goal Day (Optional)</label>
                <input type="date" class="form-control" name="end" id="inputEnd">
            </div>
            <div class="form-group">
                <label for="inputEnd">Time</label>
                <input type="time" class="form-control" name="time" id="inputEnd" required>
            </div>
            <div class="form-group ">
                <label for="inputState">Frequency</label>
                <select id="inputState" class="form-control" name="frequency">
                    <option>Twice a Day</option>
                    <option selected>Daily</option>
                    <option>Weekly</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Create goal</button>
            <button type="button" class="btn btn-danger" id="cancel-goal"><i class="fa fa-times"></i> Cancel</button>

        </form>
    </div>