{{json.message}}

<h4>Create graphs</h4>

<div class="row">
    <form action="/pixela/graph" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s3">
                <input name="id" id="id" type="text" class="validate">
                <label for="id">ID</label>
            </div>
            <div class="input-field col s3">
                <input id="name" name="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s3">
                <input id="unit" name="unit" type="text" class="validate">
                <label for="unit">Unit</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select name="type" id="type">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="int">Int</option>
                    <option value="float">Float</option>
                </select>
                <label>Type</label>
            </div>
            <div class="input-field col s6">
                <select name="color" id="color">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="shibafu">Green</option>
                    <option value="momiji">Red</option>
                    <option value="sora">Blue</option>
                    <option value="ichou">Yellow</option>
                    <option value="ajisai">Purple</option>
                    <option value="kuro">Black</option>
                </select>
                <label>Color</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select name="selfSufficient" id="selfSufficient">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="increment">Increment</option>
                    <option value="decrement">Decrement</option>
                </select>
                <label>Self Sufficient</label>
            </div>
            <div class="input-field col s6">
                <select name="isSecret" id="isSecret">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="true">True</option>
                    <option value="">False</option>
                </select>
                <label>Private</label>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Save</button>
        <a href="/pixela" class="waves-effect waves-light btn red" id="cancel-goal">Cancel</a>
    </form>
    
</div>