<h3>Hello, {{user}}</h3>
<a href="/pixela/user" class="waves-effect waves-light btn">create account</a>


<a href="/pixela/graph/create" class="waves-effect waves-light btn">create graph</a>

{{json.message}}
<div class="row">
    <div id="graphs">

    </div>
</div>

