<h1>GitHub Data</h1>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Organization</span>
                    <p>https://api.github.com/orgs/TUPfightON</p>
                </div>
                <div class="card-action">
                    <a href="https://api.github.com/orgs/TUPfightON">See Data</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Project</span>
                    <p>https://api.github.com/orgs/TUPfightON/repos</p>
                </div>
                <div class="card-action">
                    <a href="https://api.github.com/orgs/TUPfightON/repos">See Data</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Users</span>
                    <p>https://api.github.com/users/delrosariotup</p>
                </div>
                <div class="card-action">
                    <a href="https://api.github.com/users/delrosariotup">See Data</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Repository</span>
                    <p>https://api.github.com/repos/TUPfightON/iBayanihan</p>
                </div>
                <div class="card-action">
                    <a href="https://api.github.com/repos/TUPfightON/iBayanihan">See Data</a>
                </div>
            </div>
        </div>
    </div>

</div>