<h1>Jobs Data</h1>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card light-blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Description</span>
                    <p>A search term, such as "ruby" or "java". This parameter is aliased to search.</p>
                </div>

            </div>
        </div>

        <div class="col s12 m6">
            <div class="card light-blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Location</span>
                    <p>A city name, zip code, or other location search term.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Latitude</span>
                    <p>A specific latitude. If used, you must also send long and must not send location.</p>
                </div>

            </div>
        </div>

        <div class="col s12 m6">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Longitude</span>
                    <p>A specific longitude. If used, you must also send lat and must not send location.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Full Time</span>
                    <p>If you want to limit results to full time positions set this parameter to 'true'.</p>
                </div>

            </div>
        </div>

        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Markdown</span>
                    <p>Set to 'true' to get the description and how_to_apply fields as Markdown.</p>
                </div>

            </div>
        </div>
    </div>
</div>