<h1>Pixela Data</h1>
<div class="container">
    <div class="row">
        <h3>User</h3>
        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Create User</span>
                    <p>POST - /v1/users</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/post-user">See Data</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Update User</span>
                    <p>PUT - /v1/users/username</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/post-user">See Data</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">View Profile</span>
                    <p>GET - /@username</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/get-profile">See Data</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Update Profile</span>
                    <p>PUT - /@username</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/put-profile">See Data</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Graph</h3>
        <div class="col s12 m6">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Graph Definitions</span>
                    <p>GET - /v1/users/username/graphs</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/get-graph">See Data</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Graph Pixels</span>
                    <p>GET - /v1/users/username/graphs/graphID/pixels</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/get-graph-pixels">See Data</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Graph Stats</span>
                    <p>GET - /v1/users/username/graphs/graphID/stats</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/get-graph-stats">See Data</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Pixel</h3>
        <div class="col s12 m6">
            <div class="card light-blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Get Pixel</span>
                    <p>GET - /v1/users/username/graphs/graphID/yyyyMMdd</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/get-pixel">See Data</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card light-blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Post Pixel</span>
                    <p>POST - /v1/users/username/graphs/graphID</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/post-pixel">See Data</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Webhook</h3>
        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Create Webhook</span>
                    <p>POST - /v1/users/username/webhooks</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/post-webhook">See Data</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card purple darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Get Webhook</span>
                    <p>GET - /v1/users/username/webhooks</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.pixe.la/entry/get-webhooks">See Data</a>
                </div>
            </div>
        </div>

    </div>
</div>