<h3><i class="fas fa-share"></i> Share your weekly coding reports</h3>
<div class="section">
    <p class="lead">
        Send your weekly coding reports to others by email
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <form action="/send/stats" method="post">
        <div class="input-field">
            <input type="email" name="email" id="email">
            <label for="email">Email</label>
            <a href="/share/stats" class="btn green darken-1">
                Send me my stats
            </a>    
        </div>
    </form>
</div>